#wrapper{width:480px; margin:0 auto;}
.wrap{width:480px; margin:0 auto;}
#header{width:480px; margin:0 auto;}
.nav{width:480px;}
#search{display:none;}
#cat-menu{
	background:none !important;
	min-height:70px;
	height:auto !important;
	height:70px !important;
}
.nav{
	height: 170px;
    margin: -30px 0 5px;
    width: 473px;
	background:#B72826;
	}
.slide h2{width:400px;}
.nav li a{
	font: 16px 'BebasNeueRegular',Arial,sans-serif;
    padding: 6px 12px;
    text-decoration: none;
	border:1px solid #ac1616;
	width:210px;
	background:#B72826;
}
.nav li ul{
	background:none !important; margin:-7px 0 0;
}
.nav li ul li a{
	width:90px;
	padding:2px 8px;
	font-size:16px;
	background:#B72826;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
#logo{width:400px;}
#content{padding: 15px 10px; width: 450px;}
.post-thumb{width:100px;}
.post-thumb img{width:100px;height:100px;}
.postbox h2{font:18px/25px 'Asul', Arial, sans-serif;}
.post-exerpt{margin-left:120px;}
.postbox{padding: 20px 20px 10px 0; width: 450px;}
.post{width:450px;}

#sidebar{width:450px;}
.pop-post-img img{display:none;}
.slide img{width:100px;height:100px;}
.slide{width:920px;padding:40px 15px 20px;}
.slide p{width:300px;}
#slider{min-height:100px;}
.subscribe input.textfield{width:370px;}
.subscribe input.submit.button{padding:2px 7px;}
.post-header{width:450px;}
.post-title{font:25px/30px 'Asul', Arial, sans-serif;}
.entry a img{max-width:100% !important;position:relative !important;height:auto;}
.wp-caption{width:auto !important; height:auto !important;}
.wp-caption img{position:relative; height:95%; max-width:95%;}
.entry img{max-width:100% !important;position:relative !important;height:auto;}
.related{display:none !important;}
.related h3{display:none !important;}
#entry-author-info{margin:15px -10px;padding:18px 10px;}
#entry-author-info #author-description{margin: 0 0 0 70px; width: 185px;}
#entry-author-info #author-avatar img{height:50px; width:50px;}
#vmagz-sr{background:none !important;}
#browsing{width:none !important;}
#tabber .inside li{padding:14px 0;}
